@model Liberia.WebSite.Models.RegistroVm

@{
    ViewData["Title"] = "Registrarse";
}

<h4>Registrar nuevo usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registrar" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmarPassword" class="control-label"></label>
                <input asp-for="ConfirmarPassword" class="form-control" type="password"/>
                <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Login">Iniciar Sesion</a> |
    <a asp-action="Index" asp-controller="Home">Volver</a>
</div>
