@model Liberia.WebSite.Models.Autor

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Autor Id. @Model.Id</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" type="text" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArchivoFoto" class="control-label"></label>
                <input asp-for="ArchivoFoto" class="form-control" type="file" />
                <span asp-validation-for="ArchivoFoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        @{
            var imagen = "";
            if (Model.FotoPerfil != null && Model.FotoPerfil.Length > 0)
            {
                var base64 = Convert.ToBase64String(Model.FotoPerfil);
                imagen = String.Format("data:image;base64,{0}", base64);
            }
        }
        <img class="img-fluid rounded" src="@imagen"/>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

