<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!autores"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="autores">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Fecha</th>
      <th>Activo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let autor of autores">
      <td>{{ autor.id }}</td>
      <td>{{ autor.nombre }}</td>
      <td>{{ autor.fechaRegistro }}</td>
      <td>{{ autor.activo }}</td>
    </tr>
  </tbody>
</table>
